/* some style */

body {
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1 {
    color; white;
}

.title {
    height: 100px;
}

.left {
    float: left;
    padding: 20px;
}

.right {
    float: right;
    padding: 20px;
}

.temperature {
    color: red;
}

.value {
    color: green;
}

.container {
    background-color: black;
    padding: "2px 16px";
    border-radius: "10px";
}

.container:hover {
    box-shadow: 0 108px 16px 0 rgba(255,255,255,.2);
}
