/* some style */

body {
    background-color: #010101;
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* CARD.cljs */

.temperature {
    
}

.value {
    color: green;
}

.container {
    color: black;
    background-color: grey;
    padding: "2px 16px";
    border-radius: "10px";
}

.container:hover {
    box-shadow: 0 108px 16px 0 rgba(255,255,255,.2);
}
